<h1>Event Name: <%= @event.name %></h1>
<h3>Event Type: <%= @event.event_type %></h3>
<h3>Event Date: <%= @event.location %></h3>
<h3>Event Time: <%= @event.event_date %></h3>
<h3>Event Date: <%= @event.event_time %></h3>
<h3>Event Link: <%= @event.event_uri %></h3>
<h4>Event Description: <%= @event.description %></h4>

<a class="btn btn-success btn-lg">Save Event</a>
<a class="btn btn-primary btn-lg">Share Event</a>
